# Ignore environment variables
.env

myproject/passwords.txt

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore media and static files
/media/
/static/

# Ignore other files that shouldn't be tracked
*.log
*.pot
